#!/bin/sh
# ******************************************************************************
# filename    : pgdb_online_backup.sh
# description : get online backup for PostgreSQL database cluster(PGDATA)
# execuser    : postgres
# usage       : pgdb_online_backup.sh
# ******************************************************************************
# OS          : Red Hat Enterprise Linux 7.x
# PostgreSQL  : PostgreSQL 9.6.x
# ******************************************************************************
# parameter       description
# --------------  --------------------------------------------------------------
# N/A
# ******************************************************************************

################################################################################
# Set Environment
################################################################################
LOG_FILE={{ pg_script_log_dir }}/pgdb_online_backup.log
BACKUP_DIR=/var/lib/pgsql/9.6/backups/basebackup/pg_basebackup_`date +%Y%m%d`
pp () { date "+%Y/%m/%d %H:%M:%S $*" >> $LOG_FILE; }


################################################################################
#  Online Backup using pg_basebackup
################################################################################
pp --- BEGIN pgdb_online_backup.sh  get basebackup ---

pg_basebackup -D $BACKUP_DIR -Xs -P 2>> $LOG_FILE

if [ $? -ne 0 ]; then
    pp Exception Error occured.
    exit 64
fi

pp --- END pgdb_online_backup.sh  get basebackup ----
